.movies-card {
    list-style: none;
    width: 100%;
    background: #222222;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    overflow: hidden;
}

.movies-card:hover .movies-card__button_type_delete {
    visibility: visible;
}

.movies-card__link {
    text-decoration: none;
    color: #fff;
}

.movies-card__image {
    width: 100%;
    height: 203px;
    display: block;
    object-fit: cover;
}

.movies-card__info-container {
    margin: 9px 16px 16px;
}

.movies-card__name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.movies-card__name {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
    padding: 0;
}

.movies-card__button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    margin: 0;
    padding: 0;
}

.movies-card__button_type_like {
    background-image: url('../../images/like-disabled.svg');
    transition: opacity .3s ease-out;
}

.movies-card__button_type_like:hover {
    opacity: .6;
    cursor: pointer;
}

.movies-card__button_type_like_active {
    background-image: url('../../images/like-active.svg');
}

.movies-card__button_type_delete {
    background-image: url('../../images/delete-movie.svg');
    visibility: hidden;
}

.movies-card__button_type_delete:hover {
    cursor: pointer;
}

.movies-card__duration {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #8B8B8B;
    margin-top: 10px;
}

@media screen and (max-width: 830px) {
    .movies-card__image {
        height: 190px;
    }

    .movies-card__info-container {
        margin: 8px 14px 14px;
    }

    .movies-card__duration {
        margin-top: 7px;
    }
}

@media screen and (max-width: 425px) {
    .movies-card__image {
        height: 168px;
    }

    .movies-card__name {
        font-size: 12px;
        line-height: 15px;
    }

    .movies-card__duration {
        font-size: 10px;
        line-height: 12px;
        margin-top: 6px;
    }
}