.profile-button {
    min-width: 100px;
    min-height: 32px;
    background: #202020;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
    border-radius: 40px;
    position: relative;
}

.profile-button:hover {
    background: gray;
    cursor: pointer;
}

.profile-button__text {
    display: block;
    font-weight: 500;
    font-size: 13px;
    line-height: 12px;
    margin: 10px 11px;
    padding: 0;
}

.profile-button__logo {
    background: #313131;
    width: 26px;
    height: 26px;
    border-radius: 50px;
    position: absolute;
    top: 3px;
    right: 3px;
}

.profile-button__logo-img {
    display: block;
    position: absolute;
    top: 7px;
    left: 7px;
}