.navigation__login-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.navigation__signup {
    text-decoration: none;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    transition: opacity .3s ease-out;
}

.navigation__signup:hover {
    opacity: .6;
    cursor: pointer;
}

.navigation__signin {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    width: 76px;
    height: 32px;
    background: #3DDC84;
    border-radius: 3px;
    transition: opacity .3s ease-out;
}

.navigation__signin:hover {
    opacity: .6;
    cursor: pointer;
}

.navigation__links {
    display: flex;
    gap: 16px;
}

.navigation__link {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    text-decoration: none;
    transition: opacity .3s ease-out;
}

.navigation__link:hover {
    opacity: .6;
    cursor: pointer;
}

.navigation__link_active {
    font-weight: 500;
}

.navigation__burger-button {
    display: none;
    width: 44px;
    height: 44px;
    border: 0;
    background: url('../../images/burger.svg');
    transition: opacity .3s ease-out;
}

.navigation__burger-button:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 830px) {
    .navigation__burger-button {
        display: block;
    }

    .navigation__links {
        display: none;
    }

    .navigation__profile-button {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .navigation__login-container {
        gap: 14px;
    }

    .navigation__signup {
        font-size: 10px;
    }

    .navigation__signin {
        font-size: 10px;
        width: 54px;
        height: 26px;
    }
}