.auth-form {
    max-width: 396px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.auth-form__top-container {
    height: 100%;
    min-height: 217px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.auth-form__logo {
    display: block;
    background-image: url('../../images/logo.svg');
    width: 38px;
    height: 38px;
    margin-bottom: 40px;
}

.auth-form__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 40px;
    padding: 0;
}

.auth-form_form {
    width: 100%;
}

.auth-form__input-container {
    min-height: 290px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 0;
    padding: 0;
    margin: 0;
}

.auth-form__field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.auth-form__input-caption {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #8B8B8B;
}

.auth-form__input {
    padding: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #fff;
    background: #2F2F2F;
    border: 0;
    border-radius: 8px;
}

.auth-form__input_error {
    color: #EE3465;
}

.auth-form__input-error {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
}

.auth-form__bottom-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 45px;
}

.auth-form__submit-button {
    width: 100%;
    height: 45px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    background: #4285F4;
    border: 0;
    border-radius: 3px;
    padding: 0;
    margin: 0;
    transition: opacity .3s ease-out;
}

.auth-form__submit-button:hover {
    opacity: .6;
    cursor: pointer;
}

.auth-form__text {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8B8B8B;
    padding: 0;
    margin: 16px 0 0;
}

.auth-form__link {
    text-decoration: none;
    color: #4285F4;
    transition: opacity .3s ease-out;
}

.auth-form__link:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 830px) {
    .auth-form__top-container {
        min-height: 380px;
    }
}

@media screen and (max-width: 425px) {
    .auth-form {
        max-width: 260px;
        align-items: center;
    }

    .auth-form__top-container {
        min-height: 253px;
        align-items: center;
    }

    .auth-form__logo {
        margin-bottom: 50px;
    }

    .auth-form__title {
        margin-bottom: 80px;
    }

    .auth-form__bottom-container {
        width: 100%;
        justify-content: flex-end;
        padding-top: 0;
        padding-bottom: 30px;
    }

    .auth-form__submit-button {
        font-size: 12px;
        line-height: 15px;
    }

    .auth-form__text {
        margin-top: 14px;
        font-size: 12px;
        line-height: 15px;
    }
}