.footer {
    padding: 80px 70px 20px;
}

.footer__text {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #8B8B8B;
    margin: 0 0 20px;
    padding: 0;
}

.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid #424242;
}

.footer__copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
    padding: 0;
}

.footer__social {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer__link {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #fff;
    text-decoration: none;
    transition: opacity .3s ease-out;
}

.footer__link:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 830px) {
    .footer {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 425px) {
    .footer {
        padding: 80px 10px 10px;
    }

    .footer__text {
        font-size: 12px;
        line-height: 15px;
    }

    .footer__container {
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;
    }

    .footer__social {
        gap: 12px;
        flex-direction: column;
        align-items: center;
    }

    .footer__copyright {
        color: #8B8B8B;
    }
}